version: "3.3"
services:
  php:
    image: charlesportwoodii/php:7.1
    working_dir: /var/www
    links:
      - redis:redis
    volumes:
      - ${PWD-.}:/var/www
  redis:
    image: redis:4.0-alpine
    ports:
      - "6379:6379"